# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

# Compilados
dist/
*.js.map

# Test coverage
coverage/

# Entornos
.env
.env.test
.env.local
.env.*.local

# Logs
logs/
*.log
